In [1]:
%pip install pandas
%pip install matplotlib
%pip install tabulate
%pip install IPython

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: tabulate in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.9.0)
Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: IPython in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (8.23.0)
Requirement already satisfied: decorator in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (2.17.2)
Requirement already satisfied: stack-data in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (5.14.2)
Requirement already satisfied: colorama in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from IPython) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jedi>=0.16->IPython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->IPython) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->IPython) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->IPython) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->IPython) (0.2.2)
Requirement already satisfied: six>=1.12.0 in c:\users\joshu\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from asttokens>=2.1.0->stack-data->IPython) (1.16.0)

In [72]:
import pandas as pd
import matplotlib.pyplot as plt
from tabulate import tabulate
from IPython.display import display

data = pd.read_csv('data.csv')

In [56]:
tmilekey = ['tmiles_2017', 'tmiles_2018', 'tmiles_2019', 'tmiles_2020', 'tmiles_2021', 'tmiles_2022', 'tmiles_2023',
            'tmiles_2025', 'tmiles_2030', 'tmiles_2035', 'tmiles_2040', 'tmiles_2045', 'tmiles_2050']
tmile = []
for i in range(0, len(tmilekey)):
    tmile.append(0)

tonkey = ['tons_2017', 'tons_2018', 'tons_2019', 'tons_2020', 'tons_2021', 'tons_2022', 'tons_2023',
            'tons_2025', 'tons_2030', 'tons_2035', 'tons_2040', 'tons_2045', 'tons_2050']
tons = []
commodityout = []
for i in range(0, len(tonkey)):
    tons.append(0)
    commodityout.append({})

commoditydict = {}

with open('commodity.txt') as f:
    lines = f.readlines()
    for line in lines:
        temp = line.split(',')
        commoditydict[int(temp[0])] = temp[1].strip()
        for i in range(0, len(commodityout)):
            commodityout[i][temp[1].strip()] = 0


dbandlowkey = {1: 1, 2: 100, 3:250, 4:500, 5:750, 6:1000, 7:1500, 8:2001}
dbandhighkey = {1: 99, 2: 249, 3:499, 4:749, 5:999, 6:1499, 7:2000, 8:2001}
distbandlow = 0
distbandhigh = 0
timesensitivekey = {'Live animals/fish', 'Meat/seafood', 'Alcoholic beverages', 'Tobacco prods.', 'Pharmaceuticals', 'Fertilizers', 'Chemical prods.', 
                    'Newsprint/paper', 'Paper articles', 'Printed prods.', 'Textiles/leather'}

for x in data.index:
    if x == 0:
        continue
    for i in range(0, len(tmilekey)):
        tmile[i] += data.loc[x, tmilekey[i]]
        tons[i] += data.loc[x, tonkey[i]]
        commodityout[i][commoditydict[data.loc[x, "sctg2"]]] += data.loc[x, tonkey[i]]
    distbandlow += dbandlowkey[data.loc[x,"dist_band"]]
    distbandhigh += dbandhighkey[data.loc[x,"dist_band"]]

df = pd.DataFrame({'Commodity': commoditydict.values()})
# dfnew = df

totalpctg = {'2017': 0, '2018': 0, '2019':0, '2020':0, '2021':0, '2022':0, '2023':0, '2025': 0, '2030': 0, 
             '2035': 0, '2040': 0, '2045': 0, '2050': 0}

for i in range(0, len(commodityout)):
    for key in commodityout[i]:
        commodityout[i][key] = round(commodityout[i][key]/tons[i]*100,3)
    df.insert(i+1, tonkey[i][5:],  commodityout[i].values())
#tons_2023 - tons[6]
for x in df.index:
    if(df.loc[x,'Commodity'] not in timesensitivekey):
        df = df.drop(x)
    else:
        for key in totalpctg.keys():
            totalpctg[key] = round(totalpctg[key] + df.loc[x, key], 3)
df.sort_values(by='2017', ascending=False, inplace=True)
temp = ['Total']
for val in totalpctg.values():
    temp.append(val)
df.loc[11] = temp
display(df)
print(totalpctg)

,Commodity,2017,2018,2019,2020,2021,2022,2023,2025,2030,2035,2040,2045,2050
21,Fertilizers,0.859,0.758,0.833,0.879,0.926,0.791,0.936,1.026,1.120,1.227,1.332,1.437,1.529
7,Alcoholic beverages,0.701,0.676,0.670,0.818,0.809,0.868,0.741,0.750,0.790,0.830,0.862,0.886,0.911
22,Chemical prods.,0.692,0.783,0.750,0.773,0.765,0.765,0.746,0.789,0.875,0.966,1.059,1.149,1.235
4,Meat/seafood,0.294,0.295,0.298,0.323,0.321,0.332,0.305,0.309,0.321,0.333,0.340,0.344,0.348
0,Live animals/fish,0.287,0.302,0.302,0.340,0.327,0.339,0.335,0.382,0.444,0.499,0.568,0.639,0.697
27,Paper articles,0.234,0.239,0.228,0.248,0.252,0.228,0.264,0.266,0.275,0.284,0.291,0.295,0.300
26,Newsprint/paper,0.180,0.185,0.171,0.172,0.164,0.154,0.190,0.188,0.194,0.201,0.209,0.217,0.223
29,Textiles/leather,0.121,0.109,0.101,0.096,0.098,0.095,0.171,0.177,0.193,0.210,0.228,0.246,0.263
20,Pharmaceuticals,0.079,0.109,0.109,0.118,0.117,0.129,0.089,0.097,0.109,0.123,0.137,0.152,0.167
28,Printed prods.,0.079,0.083,0.080,0.081,0.078,0.075,0.075,0.073,0.071,0.069,0.067,0.065,0.063
8,Tobacco prods.,0.005,0.004,0.004,0.005,0.004,0.004,0.004,0.004,0.003,0.003,0.003,0.003,0.003
11,Total,3.531,3.543,3.546,3.853,3.861,3.780,3.856,4.061,4.395,4.745,5.096,5.433,5.739

{'2017': 3.531, '2018': 3.543, '2019': 3.546, '2020': 3.853, '2021': 3.861, '2022': 3.78, '2023': 3.856, '2025': 4.061, '2030': 4.395, '2035': 4.745, '2040': 5.096, '2045': 5.433, '2050': 5.739}

In [81]:
#calculating operating time assuming 1 pod
average_human = 70
pod_low = 23
pod_high = 40
ton_to_kilo = 907.18474
mph = 670
pod_low_weight = (pod_low*average_human)/ton_to_kilo
pod_high_weight = (pod_high*average_human)/ton_to_kilo
print(str(pod_low_weight) + " " + str(pod_high_weight))

commoditydict = {}

with open('commodity.txt') as f:
    lines = f.readlines()
    for line in lines:
        temp = line.split(',')
        commoditydict[int(temp[0])] = temp[1].strip()

timesensitivekey = {'Live animals/fish', 'Meat/seafood', 'Alcoholic beverages', 'Tobacco prods.', 'Pharmaceuticals', 'Fertilizers', 'Chemical prods.', 
                    'Newsprint/paper', 'Paper articles', 'Printed prods.', 'Textiles/leather'}
for x in data.index:
    if x == 0:
        continue
    if(commoditydict[data.loc[x,'sctg2']] not in timesensitivekey):
        data = data.drop(x)

datalow = data
datahigh = data
tonkey = ['tons_2017', 'tons_2018', 'tons_2019', 'tons_2020', 'tons_2021', 'tons_2022', 'tons_2023',
            'tons_2025', 'tons_2030', 'tons_2035', 'tons_2040', 'tons_2045', 'tons_2050']
valkey = ['value_2017', 'value_2018', 'value_2019', 'value_2020', 'value_2021', 'value_2022', 'value_2023',
            'value_2025', 'value_2030', 'value_2035', 'value_2040', 'value_2045', 'value_2050']

dbandlowkey = {1: 1, 2: 100, 3:250, 4:500, 5:750, 6:1000, 7:1500, 8:2001}
dbandhighkey = {1: 99, 2: 249, 3:499, 4:749, 5:999, 6:1499, 7:2000, 8:2001}

display(datalow['dist_band'])
datalow.to_csv('data1.csv', encoding='utf-8', index=False)
for x in datalow.index:
    if x == 0: 
        continue
    for key in tonkey:
        datalow.at[x,key] = round(datalow.loc[x,key]*1000/pod_low_weight)
        datahigh.at[x,key] = round(datahigh.loc[x,key]*1000/pod_high_weight)
    #time per trip in hours
    if(datalow.loc[x,"dist_band"] < 1):
        continue
    datalow.at[x, 'dist_band'] = dbandlowkey[round(datalow.loc[x,"dist_band"])]/mph
    if(datahigh.loc[x,"dist_band"] < 1):
        continue
    datahigh.at[x, 'dist_band'] = dbandhighkey[round(datahigh.loc[x,"dist_band"])]/mph
    #find total time per route
    for i in range(0, len(valkey)):
        datalow.at[x,valkey[i]] = round(datalow.loc[x, tonkey[i]]*datalow.loc[x, 'dist_band'])
        datahigh.at[x,valkey[i]] = round(datahigh.loc[x, tonkey[i]]*datahigh.loc[x, 'dist_band'])

dflow = pd.DataFrame({})
dflowtotal = pd.DataFrame({})
dfhigh = pd.DataFrame({})
dfhightotal = pd.DataFrame({})
count = 0
# dflow.insert(count, "Time per Trip", datalow['dist_band'])
# dfhigh.insert(count, "Time per Trip", datahigh['dist_band'])
# count += 1
for key in tonkey:
    temp = "Trips " + key[5:]
    dflow.insert(count, temp, datalow[key])
    dfhigh.insert(count, temp, datahigh[key])
    count += 1
count = 0
for key in valkey:
    temp = "Total Time " + key[6:]
    dflowtotal.insert(count, temp, datalow[key])
    dfhightotal.insert(count, temp, datahigh[key])
    count += 1


dflow.sort_values(by='Trips 2017', ascending=False, inplace=True)
dflowtotal.sort_values(by='Total Time 2017', ascending=False, inplace=True)
dfhigh.sort_values(by='Trips 2017', ascending=False, inplace=True)
dfhightotal.sort_values(by='Total Time 2017', ascending=False, inplace=True)
dflowtotal = dflowtotal.drop(2818)
dfhightotal = dfhightotal.drop(2818)

days = 353
hours = 24
capacity = 0.3

count = 0
dflownum = pd.DataFrame({})
dfhighnum = pd.DataFrame({})
for key in tonkey:
    temp = "Pod Number " + key[5:]
    temp2 = "Total Time " + key[5:]
    dflownum.insert(count, temp, dflowtotal[temp2])
    dfhighnum.insert(count, temp, dfhightotal[temp2])
    count+=1

for x in dflownum.index:
    for key in tonkey:
        temp = "Pod Number " + key[5:]
        dflownum.loc[x, temp] = round(dflownum.loc[x, temp]/days/hours*(1/capacity), 3)
        dfhighnum.loc[x, temp] = round(dfhighnum.loc[x, temp]/days/hours*(1/capacity), 3)

arr = ['2017', '2018', '2019', '2020', '2021', '2022']
totalarr = arr.copy()
numarr = arr.copy()

for i in range(0, len(arr)):
    arr[i] = "Trips " + arr[i]
    totalarr[i] = "Total Time " + totalarr[i]
    numarr[i] = "Pod Number " + numarr[i]

dflownum.sort_values(by='Pod Number 2017', ascending=False, inplace=True)
dfhighnum.sort_values(by='Pod Number 2017', ascending=False, inplace=True)

dflow.drop(arr, axis=1, inplace=True)
dfhigh.drop(arr, axis=1, inplace=True)
dflowtotal.drop(totalarr, axis=1, inplace=True)
dfhightotal.drop(totalarr, axis=1, inplace=True)

display(dflow.head(10))
display(dflowtotal.head(10))
display(dfhigh.head(10))
display(dfhightotal.head(10))

dflownum.drop(numarr, axis=1, inplace=True)
dfhighnum.drop(numarr, axis=1, inplace=True)
display(dflownum.head(10))
display(dfhighnum.head(10))

1.7747212105882644 3.086471670588286

0       3.000000
1       0.001493
2       0.149254
15      0.147761
16      0.001493
          ...
4033    0.373134
4034    0.746269
4035    0.001493
4036    0.149254
4037    0.373134
Name: dist_band, Length: 1271, dtype: float64

,Trips 2023,Trips 2025,Trips 2030,Trips 2035,Trips 2040,Trips 2045,Trips 2050
84,2.177593e+51,2.511330e+51,2.906888e+51,3.373956e+51,3.899162e+51,4.522378e+51,5.170166e+51
28,1.314793e+51,1.380002e+51,1.523824e+51,1.674295e+51,1.838154e+51,2.020098e+51,2.230236e+51
2,1.102193e+51,1.297729e+51,1.580744e+51,1.863090e+51,2.244591e+51,2.701763e+51,3.157616e+51
87,9.761615e+50,1.060176e+51,1.231608e+51,1.431846e+51,1.668627e+51,1.932719e+51,2.233611e+51
88,8.528218e+50,9.499652e+50,1.110281e+51,1.294202e+51,1.511522e+51,1.765444e+51,2.042358e+51
29,7.683008e+50,7.998190e+50,8.809664e+50,9.642470e+50,1.054383e+51,1.148377e+51,1.257843e+51
83,6.073994e+50,6.849131e+50,7.973369e+50,9.372309e+50,1.096353e+51,1.282128e+51,1.484697e+51
17,4.564288e+50,4.667130e+50,4.975888e+50,5.307868e+50,5.622758e+50,5.959675e+50,6.320217e+50
108,4.521342e+50,4.655681e+50,4.993893e+50,5.401967e+50,5.833967e+50,6.293821e+50,6.839085e+50
16,3.642244e+50,3.896615e+50,4.256933e+50,4.626451e+50,5.014880e+50,5.414799e+50,5.865032e+50

,Total Time 2023,Total Time 2025,Total Time 2030,Total Time 2035,Total Time 2040,Total Time 2045,Total Time 2050
3569,550884.0,570273.0,614460.0,665685.0,722320.0,785179.0,855074.0
86,273024.0,302754.0,350149.0,405443.0,470839.0,548826.0,630929.0
1243,129307.0,136632.0,154728.0,172681.0,193314.0,217060.0,244348.0
3589,42464.0,44140.0,48544.0,52757.0,57449.0,62571.0,68172.0
3581,88806.0,95413.0,114418.0,134382.0,158271.0,186899.0,221416.0
27,60800.0,60656.0,65348.0,69896.0,74635.0,81529.0,85598.0
3604,42033.0,44666.0,51033.0,57496.0,64869.0,73247.0,82774.0
3862,42177.0,42416.0,43134.0,44092.0,45097.0,46150.0,47252.0
3803,42129.0,42991.0,45672.0,48688.0,52278.0,56395.0,61039.0
3982,42703.0,46438.0,55725.0,65970.0,78513.0,94120.0,113557.0

,Trips 2023,Trips 2025,Trips 2030,Trips 2035,Trips 2040,Trips 2045,Trips 2050
84,2.177593e+51,2.511330e+51,2.906888e+51,3.373956e+51,3.899162e+51,4.522378e+51,5.170166e+51
28,1.314793e+51,1.380002e+51,1.523824e+51,1.674295e+51,1.838154e+51,2.020098e+51,2.230236e+51
2,1.102193e+51,1.297729e+51,1.580744e+51,1.863090e+51,2.244591e+51,2.701763e+51,3.157616e+51
87,9.761615e+50,1.060176e+51,1.231608e+51,1.431846e+51,1.668627e+51,1.932719e+51,2.233611e+51
88,8.528218e+50,9.499652e+50,1.110281e+51,1.294202e+51,1.511522e+51,1.765444e+51,2.042358e+51
29,7.683008e+50,7.998190e+50,8.809664e+50,9.642470e+50,1.054383e+51,1.148377e+51,1.257843e+51
83,6.073994e+50,6.849131e+50,7.973369e+50,9.372309e+50,1.096353e+51,1.282128e+51,1.484697e+51
17,4.564288e+50,4.667130e+50,4.975888e+50,5.307868e+50,5.622758e+50,5.959675e+50,6.320217e+50
108,4.521342e+50,4.655681e+50,4.993893e+50,5.401967e+50,5.833967e+50,6.293821e+50,6.839085e+50
16,3.642244e+50,3.896615e+50,4.256933e+50,4.626451e+50,5.014880e+50,5.414799e+50,5.865032e+50

,Total Time 2023,Total Time 2025,Total Time 2030,Total Time 2035,Total Time 2040,Total Time 2045,Total Time 2050
3569,550884.0,570273.0,614460.0,665685.0,722320.0,785179.0,855074.0
86,273024.0,302754.0,350149.0,405443.0,470839.0,548826.0,630929.0
1243,129307.0,136632.0,154728.0,172681.0,193314.0,217060.0,244348.0
3589,42464.0,44140.0,48544.0,52757.0,57449.0,62571.0,68172.0
3581,88806.0,95413.0,114418.0,134382.0,158271.0,186899.0,221416.0
27,60800.0,60656.0,65348.0,69896.0,74635.0,81529.0,85598.0
3604,42033.0,44666.0,51033.0,57496.0,64869.0,73247.0,82774.0
3862,42177.0,42416.0,43134.0,44092.0,45097.0,46150.0,47252.0
3803,42129.0,42991.0,45672.0,48688.0,52278.0,56395.0,61039.0
3982,42703.0,46438.0,55725.0,65970.0,78513.0,94120.0,113557.0

,Pod Number 2023,Pod Number 2025,Pod Number 2030,Pod Number 2035,Pod Number 2040,Pod Number 2045,Pod Number 2050
3569,216.747,224.376,241.761,261.916,284.199,308.931,336.431
86,107.422,119.119,137.767,159.523,185.253,215.937,248.241
1243,50.876,53.758,60.878,67.942,76.060,85.403,96.139
3589,16.708,17.367,19.100,20.757,22.603,24.619,26.822
3581,34.941,37.541,45.018,52.873,62.272,73.536,87.117
27,23.922,23.865,25.711,27.501,29.365,32.078,33.679
3604,16.538,17.574,20.079,22.622,25.523,28.819,32.568
3862,16.595,16.689,16.971,17.348,17.744,18.158,18.591
3803,16.576,16.915,17.970,19.156,20.569,22.189,24.016
3982,16.802,18.271,21.925,25.956,30.891,37.032,44.679

,Pod Number 2023,Pod Number 2025,Pod Number 2030,Pod Number 2035,Pod Number 2040,Pod Number 2045,Pod Number 2050
3569,216.747,224.376,241.761,261.916,284.199,308.931,336.431
86,107.422,119.119,137.767,159.523,185.253,215.937,248.241
1243,50.876,53.758,60.878,67.942,76.060,85.403,96.139
3589,16.708,17.367,19.100,20.757,22.603,24.619,26.822
3581,34.941,37.541,45.018,52.873,62.272,73.536,87.117
27,23.922,23.865,25.711,27.501,29.365,32.078,33.679
3604,16.538,17.574,20.079,22.622,25.523,28.819,32.568
3862,16.595,16.689,16.971,17.348,17.744,18.158,18.591
3803,16.576,16.915,17.970,19.156,20.569,22.189,24.016
3982,16.802,18.271,21.925,25.956,30.891,37.032,44.679